on: [push, pull_request]
name: Continuous Integration

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install .NET 9.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Compile
        run: dotnet build -c Debug -warnaserror

      - name: Test
        run: dotnet test
